/* Structure */
article {
    margin-left: 10%;
    text-align: center;
    width: 80%;
}

@media (max-width: 325px) {
  body {
    background-color: red;
  }
  iframe {
    margin-left: -10%;
  }
}

@media (min-width: 625px) {
    article {
        width: 500px;
        margin-left: auto;
        margin-right: auto;
    }
}

#logo { width: 100%; }

nav { margin-top: 100px; }
nav ul li { float: left; margin-right: 15px;}

.info {
    margin-top: 2em;
    text-align: left;
}

nav.auth {
    position: absolute;
    top: 1em;
    right: 1em;
}

/* Style */
body, a {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    background-color: #333;
    color: #DDD;
}
h1 {
    color: #DDD;
    font-weight: 800;
}

h2 {
    color: #DDD;
    font-weight: 600;
}

b { font-weight: 600; }

nav ul li {
    list-style: none;
}

nav ul li a {
    font-weight: 600;
    color: #AAA;
}

.info {
  padding: 1em;
}

.info, .info h1, .info h2 {
    background-color: #FFF;
    color: #666;
}

.info a {
    background-color: #FFF;
    color: #009;
    font-weight: 600;
}