<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>{% block title %}Mozilla Community Spotlight{% endblock %}</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href='http://fonts.googleapis.com/css?family=Open+Sans:600,300' rel='stylesheet' type='text/css'>
<base href="http://127.0.0.1:8001/" />
<link href="stylo.css" media="screen, projection" rel="stylesheet" type="text/css" />
<link rel="shortcut icon" type="image/ico" href="favicon.ico">
<link rel="alternate" type="application/rss+xml" title="Mozilla Community Spotlight" href="http://www.mozillaspotlight.com/rss.xml" />
</head>
<body>
<article>
    {% block authui %}{% endblock %}

    {% block masthead %}
    <!-- TODO A11y image text replacement -->
    <!--h1>Mozillians Spotlight</h1 -->
    <img src="logo.jpg" id="logo" />
    <p>Spotlighting a random Mozillan, one per day.</p>
    {% endblock %}

    {% block content %}

    {% endblock %}
    {% block footer %}
<nav>
<ul>
    <li><a href="archives.html">Archives</a></li>
    <li><a href="">About</a></li>
    <li><a href="mailto:help@mozillaspotlight.com">Contact US</a></li>
</ul>
</nav>
    {% endblock %}
</article>
 <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
{% block authjs %}{% endblock %}
</body>
</html>