{% extends "auth_layout.html" %}
{% block content %}

<div class="info">
<h1>Instructions</h1>
<p>Sharing your story on Mozilla Spotlight is easy.</p>
<ol>
    <li>Grab a laptop, phone, or other device which can record video.</li>
    <li>Using a website that supports HTML embed codes, publish
    your video. (Youtube, Vimeo, dailymotion, etc).</li>
    <li>Copy the HTML embed code and paste it below.</li>
    <li>Click Save Video</li>
</ol>

<h2>Video Details</h2>
<form>
    <label>Video Embed Code</label>
    <textarea></textarea>
    <button>Save Video</button>
</form>

<p>You have 2 weeks until your spotlight, so don't wait. Get started now!</p>
</div>
{% endblock %}
{% block userinfo %}
var currentUser = {{user}};
{% endblock %}

{% block onready %}
if (! currentUser) {
    window.location = baseUrl + '/invited';
}
{% endblock %}