{% extends "auth_layout.html" %}
{% block content %}

<div class="info">
    <h1>Congratulations</h1>
    <p>You've been randomly picked from the Mozilla community.</p>
    <p>Your in the spotlight. What will you share?</p>

    <h2>Instructions</h2>
    <p>If you want to participate, <b>Sign In</b> to get the instructions.</p>
    <p><a href="" id="signin2"><img src="email_sign_in_blue.png" alt="Sign In with Email" /></a></p>
    <p>If you <b>don't want to participate</b>, you can ignore this email.</p>
    <p><a href="TODO">Click to unsubscribe from Spotlight emails.</a></p>
</div>
{% endblock %}
{% block userinfo %}
var currentUser = {{user}};
{% endblock %}

{% block onready %}
if (!! currentUser) {
    window.location = baseUrl + '/instructions';
}
{% endblock %}