{% extends "basic_layout.html" %}
{% block content %}

<div class="info">
    <h1>Congratulations</h1>
    <p>You've been randomly picked from the Mozilla community.</p>
    <p>Your in the spotlight. What will you share?</p>

    <h2>Instructions</h2>
    <p>If you want to partiscipate, <a href="instructions.html">Sign in</a> to get the instructions.</p>
    <p>If you don't want to partiscipate, you can ingnore this email.</p>
    <p>To unsubsribe, <a href="TODO">Click here</a></p>
</div>
{% endblock %}